<div class="container">
  <h1>New User Registration</h1>
  <form method="post" action="/users">
    <label for="email">Email:</label><br>
    <input type="email" name="user[email]"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="user[password]"><br>
    <input type="submit" value="Register">
  </form>
</div>
