
<div class="col s12 m7">
  <div class="card">
    <div class="card-image">
      <img src="http://i.cdn.turner.com/adultswim/big/img/2014/05/21/BobsBurgers.png">
      <span class="card-title #757575 grey darken-1"><%= @card.deck.theme %></span>
    </div>
    <div class="card-content">
      <h5 class="card-titlequestion"><%= @card.question %>?</h5>
    </div>
    <div class="card-action">
       <form method="post" action="/guesses">
		    <input type="hidden" name="guess[round_id]" value="<%= @round.id %>">
		    <input type="hidden" name="guess[card_id]" value="<%= @card.id %>">
		    <label for="answer">Fill in your answer:</label><br>
		    <input type="text" name="guess[potential_answer]"><br>
		    <span><input class="btn waves-effect waves-light grey darken-4" type="submit" value="Order Up!" > <i class="material-icons left">send</i> </span>
		  </form>
    </div>
  </div>
</div>
    