<br>
<br>
<% @decks.each do |deck| %>
  <div class="collection">
    <form method= "post" action="/rounds">
      <input type="hidden" value="<%= deck.id %>" name="deck_id">
      <input class="collection-item boredless waves-effect waves-teal btn-flat"type="submit" value="<%= deck.theme %>"> <span class="badge"><%= deck.cards.count %></span><br>
    </form>
  </div>
<% end %>

