<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <title>BobCrypt</title>
</head>
<body>
  <nav>
    <div class=" nav-wrapper">
      <a href="#" class="brand-logo">BobCrypt</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if logged_in? %>
          <li>
            <form method="post" action="/users/logout">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Logout">
            </form>
          </li>
          <li><a href="/users/<%= current_user.id %>"><i class="material-icons left">perm_identity</i><%= current_user.email %></a></li>
        <% else %>
          <li><a href="/users/login"><i class="material-icons left">perm_identity</i>Login</a></li>
          <li><a href="/users/new">Sign Up</a></li>
        <% end %>
      </ul>
    </div>
  </nav>


  <div class="container">
    <%= yield %>
  <div>
</body>
</html>
